.polemika-editor-instance-container {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.polemika-editor-instance-container svg .nodes .node.selectedNode .linksLayer {
	stroke: grey;
    stroke-dasharray: 4px;	
}